#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    background-color: #ebe705;
}

#sidebar.active {
    margin-left: -250px;
    margin-right: 5px;
}

#sidebar .sidebar-header {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #f0c135;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.clickActive{
    pointer-events: all;
}

/* Inicio estilos scroll */
.myScroll::-webkit-scrollbar {
    -webkit-appearance: none;
}
  
.myScroll::-webkit-scrollbar:vertical {
    width:10px;
}
  
.myScroll::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
  
.myScroll::-webkit-scrollbar:horizontal {
    height: 10px;
}
  
.myScroll::-webkit-scrollbar-thumb {
    background-color: #b4afaf;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
  
.myScroll::-webkit-scrollbar-track {
    border-radius: 10px;  
}
/* Final estilos scroll */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 450px){
    #btns-sidebar{
        width: auto;
    }
    #sidebar{
        max-width: 200px;
        min-width: 200px;
        margin-right: 50px;
    }
    
}
@media (max-width: 370px){
    #btns-sidebar{
        width: auto;
    }
    #sidebar{
        max-width: 150px;
        min-width: 150px;
        margin-right: 100px;
    }
    
}
